<!-- GRÁFICO DE BATIDAS PADRONIZADAS - LEVADA SAMBA -->

<!-- Container principal das batidas -->
<div class="containerLevada batida-padrao" data-levada="levada-choro">
    <div class="titulo-levada">
        <h3> Levada - CHORO </h3>
    </div>
    <div class="batida-levada">
        <div class="tempo" data-direcao="#"></div> <!-- Tempo sem batida -->
        <div class="times-4">
            <!-- BLOCO 01: -->
            <!-- Cada "tempo" é um quadrado com seta (↑↓) ou pausa (▯) Palavras Chave: baixo - cima - vazio - # -->
            <div class="tempo" data-direcao="baixo"></div>
            <div class="tempo" data-direcao="baixo"></div>
            <div class="tempo" data-direcao="cima"></div>
            <div class="tempo" data-direcao="baixo"></div>
        </div>
        <div class="tempo" data-direcao="#"></div>     <!-- Tempo sem batida -->
        <div class="tempo" data-direcao="#"></div>     <!-- Tempo sem batida -->
        <div class="times-4">
            <!-- BLOCO 02: -->
            <!-- Cada "tempo" é um quadrado com seta (↑↓) ou pausa (▯) Palavras Chave: baixo - cima - vazio - # -->
            <div class="tempo" data-direcao="baixo"></div>
            <div class="tempo" data-direcao="baixo"></div>
            <div class="tempo" data-direcao="cima"></div>
            <div class="tempo" data-direcao="baixo"></div>
        </div>
            <div class="tempo" data-direcao="#"></div>     <!-- Tempo sem batida -->
        <!-- <div class="times-4"> -->
            <!-- BLOCO 03: -->
            <!-- Cada "tempo" é um quadrado com seta (↑↓) ou pausa (▯) Palavras Chave: baixo - cima - vazio - # -->
            <!-- <div class="tempo" data-direcao="baixo"></div>
            <div class="tempo" data-direcao="baixo"></div>
            <div class="tempo" data-direcao="cima"></div>
            <div class="tempo" data-direcao="baixo"></div> -->
        <!-- </div> -->
    </div>
</div>