<!-- GRÁFICO DE BATIDAS PADRONIZADAS - LEVADA TREINO 02 -->
<!-- Aula SESC Quarta-Feira -->

<!-- Container principal das batidas -->
<div class="containerLevada batida-padrao" data-levada="levada-treino01">
    <div class="titulo-levada">
        <h3> Levada - TREINO 02 </h3>
    </div>
    <div class="batida-levada">
        <div class="times-4">
            <!-- BLOCO 01: -->
            <!-- Cada "tempo" é um quadrado com seta (↑↓) ou pausa (▯) Palavras Chave: baixo - cima - vazio - # -->
            <div class="tempo" data-direcao="baixo"></div> <!-- Ta -->
            <div class="tempo" data-direcao="baixo"></div> <!-- Ta -->
            <div class="tempo" data-direcao="cima"></div> <!-- Tum -->
            <div class="tempo" data-direcao="baixo"></div> <!-- Ta -->
            <div class="tempo" data-direcao="baixo"></div> <!-- Ta -->
        </div>
            <div class="tempo" data-direcao="#"></div>     <!-- Tempo sem batida -->
        <div class="times-4">
            <!-- BLOCO 02: -->
            <!-- Cada "tempo" é um quadrado com seta (↑↓) ou pausa (▯) Palavras Chave: baixo - cima - vazio - # -->
            <div class="tempo" data-direcao="baixo"></div> <!-- Ta --> 
            <div class="tempo" data-direcao="cima"></div> <!-- Tum -->
            <div class="tempo" data-direcao="baixo"></div> <!-- Ta -->
            <div class="tempo" data-direcao="baixo"></div> <!-- Ta -->
        </div>
    </div>
</div>