/* Levadas = Batidas */

/* Container das batidas */
.batida-padrao {
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* Quadrado do tempo (comum a todos) */
.tempo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 40px;
}

/* Seta para cima */
.tempo[data-direcao="cima"]::before {
    content: "↑";
    color: #a1c79b;;
}

/* Seta para baixo */
.tempo[data-direcao="baixo"]::before {
    content: "↓";
    color: #6e9169;;
}

/* Tempo vazio/pausa */
.tempo[data-direcao="vazio"]::before {
    content: "▯";
    color: #95a5a6; /* Cinza */
}

/* ************************************************ */
/* Container Geral de Levada: */
.containerLevada {
    display: flex;
    flex-direction: column;
}

/* Container de Setas: */
.batida-levada {
    display: flex;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
}

.times-4 {
    display: flex;
    /* Pensar em um desenho de M de 4 tempos depois */
}

/* ************************************************ */

/* Classes da Página de Treino: */
.levadas-graficos-batidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Garante centralização */
}

.titulo-levada {
    text-align: center;
    padding-top: 5px;
}