
/* Codigos para Carrossel: */

/* Movimentos do Carrossel: */
.partituras-carrossel {
    display: flex;
    width: max-content; 
    /* A largura do carrossel se ajusta ao conteúdo */
    animation: moverCarrossel 90s linear infinite; /* Velocidade média inicial 90s */
    animation-play-state: paused; /* Inicia pausado */
    overflow-x: auto; /* Permite rolagem manual */
    /* overflow-x: hidden; */
    scroll-snap-type: x mandatory;
    /* Faz os cards se alinharem na tela */
  }

@keyframes moverCarrossel {
  0% {
      /* Começa da direita */
      /* "0" para quando carregar a página */
      /* "100%" para quando paretar o play? condição? */
    /* transform: translateX(100%); */
    transform: translateX(0);
  }
  100% {
      /* Move para a esquerda */
    transform: translateX(-100%);
  }
}

/*! Quando o carrossel está em movimento, desabilita a rolagem */
/* .partituras-carrossel[data-playing="true"] {
    overflow-x: hidden;
} */


/*! REVER */
/* Esconde os cards quando o carrossel está em movimento */
.partituras-carrossel[data-playing="true"] .card-container {
  opacity: 0;
  transition: opacity 1.5s ease;
}

/* Mostra os cards quando o carrossel está pausado */
.partituras-carrossel[data-playing="false"] .card-container {
  opacity: 1;
  transition: opacity 0.5s ease;
}