
/* RESPONSIVIDADE DE TODAS AS TELAS: */

/* Para telas menores, ajuste a largura dos cards */
@media (max-width: 768px) {
    .card-container {
        flex: 0 0 50%; /* Cada card ocupa metade da tela */
    }
}

@media (max-width: 600px) {
    .partituras-controles button {
    /*! REVER */
        gap: 3px;
        max-width: 40px;
        max-height: 40px;
    }
    /* Ocultar o texto em telas pequenas (somente emojis) */
    .partituras-controles button span {
        display: none;
        /*! REVER: */
        transition: 1s ease-in-out;
    }
}