
/* Codigos para Movimentar Carrossel: */

/* Movimentos do Carrossel: da Direita para Esquerda 55% da Tela */
.partituras-carrossel {
  display: flex;
  width: max-content; 
  /* A largura do carrossel se ajusta ao conteúdo */
  animation: moverCarrossel 90s linear infinite; /* Velocidade média inicial 90s */
  animation-play-state: paused; /* Inicia pausado */
  overflow-x: auto; /* Permite rolagem manual */
  /* overflow-x: hidden; */
  scroll-snap-type: x mandatory;
  /* Faz os cards se alinharem na tela */
  /* Início do Carrossel antes da Faixa Central: */
  transform: translateX(55vw);
}

@keyframes moverCarrossel {
  0% {
    /* Para iniciar os Cards antes da Faixa Central: */
    transform: translateX(55vw);
  }
  100% {
    /* Move para a esquerda até o final: */
    transform: translateX(-100%);
  }
}

/*! Quando o carrossel está em movimento, desabilita a rolagem - não sei pq estava comentado!! */
.partituras-carrossel[data-playing="true"] {
    overflow-x: hidden;
}

/*! REVER */
/* Esconde os cards quando o carrossel está em movimento */
.partituras-carrossel[data-playing="true"] .card-container {
  opacity: 0;
  transition: opacity 1.5s ease;
}

/* Mostra os cards quando o carrossel está pausado */
.partituras-carrossel[data-playing="false"] .card-container {
  opacity: 1;
  transition: opacity 0.5s ease;
}