/* Acordes Componentes: */

.card-container {
    /* min-width: 300px; */
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-container .card-letraMusica {
    padding-top: 16px;
}
.card-container .card-letraMusica p {
    margin: 0 0 5px 0;
    font-size: 1.1em;
    color: #333;
    text-align: center;
}
.card-acorde {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* Tamanho Padrão: */
    min-width: 130px;
    min-height: 200px;
    max-width: 130px;
    max-height: 200px;
}