/* Acordes Componentes: */

.card-container {
    flex: 0 0 auto;
    /* Impede que os cards diminuam de tamanho */
    scroll-snap-align: center; /* Centraliza os cards ao rolar */
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-container .card-letraMusica {
    padding-top: 16px;
}
.card-container .card-letraMusica p {
    margin: 0 0 5px 0;
    font-size: 1.1em;
    color: #333;
    text-align: center;
}
.card-acorde {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* Tamanho Padrão: */
    min-width: 130px;
    min-height: 200px;
    max-width: 130px;
    max-height: 200px;
}
/* Marcaçao Vermelha meio da Tela */
/* #area-central {
    position: fixed;
    left: calc(50vw);
    width: 2px;
    top: 45%;
    left: 50%;
    height: 100vh;
    bottom: 5%;
    background: rgba(255, 0, 0, 0.5);
    background: rgba(85, 110, 100, 0.5);
    transform: translateX(-50%, -50%);
    z-index: 0;
  } */

/* Estilos para telas grandes (notebook/desktop) */
#area-central {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 330px;
    /* height: calc(500px - top 200px); */
    /* background-color: red; */
    background: rgba(21, 132, 80, 0.5);
    bottom: 0;
}