
/* REVER */

/* =====ESTILO DA IMAGEM DOS ACORDES========= */
.face.back {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-acorde {
    font-size: 13px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
}
.titulo-acorde p {
    color: rgb(49, 101, 56);
    width: 100%;
    margin: 3px 0;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1.2px;
}
.acorde {
    position: relative;
    width: 60px;
    margin: 0 auto;
}
.casas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    grid-template-rows: repeat(6, 20px); /* 6 linhas de altura fixa */
}
.casa {
    width: 20px;
    height: 20px;
    background-color: #e0e0e0;
    border: 1px solid #6e9169;
}
.dedo {
    position: absolute;
    color: white;
    font-size: small;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: rgb(49, 101, 56);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
