/* testar */

/* REVER o que é util e colocar no arquivo certo: */

/* ========================================== */
/*? RESPONSIVIDADE DE TELAS: partituras-cardImage */
@media (max-width: 1000px) {
    .bloco-cards {
        justify-content: center;
    }
    .card {
        width: 160px;
        height: 160px;
        max-width: 200px;
    }
}
@media (max-width: 750px) {
    .bloco-cards {
        gap: 15px; 
    }
}
@media (max-width: 535px) {
    .bloco-cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
        max-width: 200px;
    }
    /* IMG DOS ACORDES */
    .acorde {
        width: 60px;
    }
    .casas {
        grid-template-rows: repeat(6, 20px);
    }
}
/* ========================================== */