<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino - Música 1</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/partituras-global.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/partituras-treino.css') }}"> -->
    <!--     <base href="/Portfolio_Proj_007-Treino_Partituras_Simplificadas/"> -->
    <link rel="stylesheet" href="../../static/css/partituras-index.css">
    <link rel="stylesheet" href="../../static/css/partituras-global.css">
    <link rel="stylesheet" href="../../static/css/partituras-treino.css">
    <link rel="stylesheet" href="../../static/css/partituras-responsividadeTela.css">
    <link rel="stylesheet" href="../../static/css/partituras-cardImage.css">
    <link rel="stylesheet" href="../../static/css/partituras-acordesComponentes.css">
</head>
<body>
    <div class="partituras-container">
<!-- =================================================== -->
        <div class="partituras-titulo">
            <h2> Sonho Meu - Dona Ivone Lara </h2>
            <h3> Tonalidade: Dó Maior / C+ </h3>
        </div>
<!-- =================================================== -->
        <div class="partituras-controles">
            <button id="partituras-play"> ▶️ <span>Play</span> </button>
            <button id="partituras-pause"> ⏸️ <span>Pause</span> </button>
            <button id="partituras-velocidade-devagar"> 🐢🐢🐢 <span>Lento</span> </button>
            <button id="partituras-velocidade-medio"> 🐢🐢 <span>Devagar</span> </button>
            <button id="partituras-velocidade-rapido"> 🐇 <span>Rápido</span> </button>
            <!-- <button id="partituras-som">🔊 🔇 <span>Audio</span> </button> -->
            <button id="partituras-som" onclick="alternarSom()">🔊 <span>Som</span></button>
            <button onclick="fecharJanela()"> ❌ <span>Fechar</span> </button>
            <button onclick="maximizar()"> ⛶ <span>Maximizar</span> </button>
        </div>
<!-- =================================================== -->
        <div class="partituras-letras-acordes">
            <!-- Letra da Música a ser Ensaiada: -->
            <!-- Acordes a serem usados na Música: -->
        </div>
<!-- =================================================== -->
        <!-- INÍCIO CONTAINER MUSICAL -->
        <div class="partituras-carrossel">
            <!-- Trecho 01 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p>Sonho meu,</p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 02 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-laSetima"></div>
                    <div class="card-letraMusica">
                        <p>sonho meu...</p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 03 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-reMenor"></div>
                    <div class="card-letraMusica">
                        <p> ...meu </p>
                        <p> Vai buscar </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 04 -->
            
            <!-- Adicione mais trechos conforme necessário -->
        </div>
        <!-- FIM CONTAINER MUSICAL -->
    </div>
<!-- =================================================== -->
    <!-- <script src="{{ url_for('static', filename='js/partituras-treino.js') }}"></script> -->
    <!-- <script src="../static/js/partituras-treinoCarrossel.js"></script> -->
    <script src="../../static/js/partituras-index.js"></script>
    <script src="../../static/js/partituras-abrirJanelaMenor.js"></script>
    <script src="../../static/js/partituras-fecharJanela.js"></script>
    <script src="../../static/js/partituras-maximizarJanela.js"></script>
    <script src="../../static/js/partituras-alternarSom.js"></script>
    <script src="../../static/js/partituras-carregarAcordesComponentes.js"></script>
    <script src="../../static/js/partituras-treinoCarrossel.js"></script>
<!-- =================================================== -->
</body>
</html>
