<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino - Música 1</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/partituras-global.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/partituras-treino.css') }}"> -->
    <link rel="stylesheet" href="/static/css/partituras-index.css">
    <link rel="stylesheet" href="/static/css/partituras-global.css">
    <link rel="stylesheet" href="/static/css/partituras-treino.css">
    <link rel="stylesheet" href="/static/css/partituras-responsividadeTela.css">
    <link rel="stylesheet" href="/static/css/partituras-cardImage.css">
    <link rel="stylesheet" href="/static/css/partituras-acordesComponentes.css">
</head>
<body>
    <div class="partituras-container">
<!-- =================================================== -->
        <div class="partituras-titulo">
            <h2> Sonho Meu - Dona Ivone Lara </h2>
            <h3> Tonalidade: Dó Maior / C+ </h3>
        </div>
<!-- =================================================== -->
        <div class="partituras-controles">
            <button id="partituras-play"> ▶️ <span>Play</span> </button>
            <button id="partituras-pause"> ⏸️ <span>Pause</span> </button>
            <button id="partituras-velocidade-devagar"> 🐢🐢🐢 <span>Lento</span> </button>
            <button id="partituras-velocidade-medio"> 🐢🐢 <span>Devagar</span> </button>
            <button id="partituras-velocidade-rapido"> 🐇 <span>Rápido</span> </button>
            <!-- <button id="partituras-som">🔊 🔇 <span>Audio</span> </button> -->
            <button id="partituras-som" onclick="alternarSom()">🔊 <span>Som</span></button>
            <button onclick="fecharJanela()"> ❌ <span>Fechar</span> </button>
            <button onclick="maximizar()"> ⛶ <span>Maximizar</span> </button>
        </div>
<!-- =================================================== -->
        <div class="partituras-letras-acordes">
            <!-- Letra da Música a ser Ensaiada: -->
            <!-- Acordes a serem usados na Música: -->
        </div>
<!-- =================================================== -->
        <!-- INÍCIO CONTAINER MUSICAL -->
        <div class="partituras-carrossel">
            <!-- Trecho 01 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p>Sonho meu,</p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 02 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-laSetima"></div>
                    <div class="card-letraMusica">
                        <p>sonho meu...</p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 03 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-reMenor"></div>
                    <div class="card-letraMusica">
                        <p> ...meu </p>
                        <p> Vai buscar </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 04 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p> quem mora </p>
                        <p> longe, sonho...</p>
                    </div>
                </div>
            </div>
            <!-- Trecho 05 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p>...meu </p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 06 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p>...meu </p>
                        <p> Vai... </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 07 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p> mostrar</p>
                        <p> esta sauda...</p>
                    </div>
                </div>
            </div>
            <!-- Trecho 08 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-laSetima"></div>
                    <div class="card-letraMusica">
                        <p>...dade, sonho </p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 09 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-reMenor"></div>
                    <div class="card-letraMusica">
                        <p>...meu. Com a </p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 10 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p>...sua liberdade, </p>
                        <p> sonho... </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 11 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p>...meu </p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 12 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p>...meu</p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 13 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p>No meu céu </p>
                        <p> a estrela </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 14 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doSetima"></div>
                    <div class="card-letraMusica">
                        <p> guia se perdeu...</p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 15 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-faMaior"></div>
                    <div class="card-letraMusica">
                        <p>...perdeu, </p>
                        <p> E a madrugada </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 16 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p> fria só me </p>
                        <p> traz melanco... </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 17 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p>...lia...</p>
                        <p> sonho meu... </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 18 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-reMenor"></div>
                    <div class="card-letraMusica">
                        <p> Sinto o canto da </p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 19 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p> noite na </p>
                        <p> boca do </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 20 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p>...vento</p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 21 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-laSetima"></div>
                    <div class="card-letraMusica">
                        <p>...vento...</p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 22 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-reMenor"></div>
                    <div class="card-letraMusica">
                        <p> Fazer a </p>
                        <p> dança das </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 23 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p> flores no </p>
                        <p> meu pensa... </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 24 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p>...mento </p>
                        <p> (bis) => </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 25 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doSetima"></div>
                    <div class="card-letraMusica">
                        <p> Traz a pureza </p>
                        <p> de um samba... </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 26 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p>...samba </p>
                        <p> Sentido, </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 27 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-faMenor"></div>
                    <div class="card-letraMusica">
                        <p> marcado de </p>
                        <p> mágoas de </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 28 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p> amor </p>
                        <p> Um samba que </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 29 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-laSetima"></div>
                    <div class="card-letraMusica">
                        <p> mexe o </p>
                        <p> o corpo da </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 30 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-reMenor"></div>
                    <div class="card-letraMusica">
                        <p> gente </p>
                        <p> E o vento </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 31 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p> vadio </p>
                        <p> embalando a </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 32 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doMaior"></div>
                    <div class="card-letraMusica">
                        <p> flor... </p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 33 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-doSetima"></div>
                    <div class="card-letraMusica">
                        <p> ... (na primeira) </p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Trecho 34 -->
            <div class="card-container">
                <div class="partituras-card">
                    <div class="card-acorde" data-acorde="acorde-solSetima"></div>
                    <div class="card-letraMusica">
                        <p> ... (na segunda) </p>
                        <p> <br> </p>
                    </div>
                </div>
            </div>
            <!-- Adicione mais trechos conforme necessário -->
        </div>
        <!-- FIM CONTAINER MUSICAL -->
    </div>
<!-- =================================================== -->
    <!-- <script src="{{ url_for('static', filename='js/partituras-treino.js') }}"></script> -->
    <!-- <script src="../static/js/partituras-treinoCarrossel.js"></script> -->
    <script src="/static/js/partituras-index.js"></script>
    <script src="/static/js/partituras-abrirJanelaMenor.js"></script>
    <script src="/static/js/partituras-fecharJanela.js"></script>
    <script src="/static/js/partituras-maximizarJanela.js"></script>
    <script src="/static/js/partituras-alternarSom.js"></script>
    <script src="/static/js/partituras-carregarAcordesComponentes.js"></script>
    <script src="/static/js/partituras-treinoCarrossel.js"></script>
<!-- =================================================== -->
</body>
</html>