<!-- acorde-reSetima.html -->
<div class="card d7_reSetima ok">
    <div class="flip-inner">
        <div class="face back">
            <div class="titulo-acorde">
                <p>D 7</p>
                <p></p>
                <p class="talk-chord">Ré Sétima</p>
            </div>
            <section class="acorde">
                <div class="casas">
                    <!-- Linha por linha: 6 linhas, 3 colunas -->
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                </div>
                <!-- Posições dos dedos (ajuste a posição com estilo inline ou CSS) -->
                <span class="dedo" style="top: 42%; left: 66%;">1</span>
                <span class="dedo" style="top: 58%; left: 0%;">2</span>
                <span class="dedo" style="top: 58%; left: 99%;">3</span>
                <span class="dedo" style="top: 76%; left: 32%;">4</span>
            </section>
        </div>
    </div>
</div>