<!--  -->
<div class="card c-_cm_doMenor">
    <div class="flip-inner">
        <div class="face back">
            <div class="titulo-acorde">
                <p>C -</p>
                <p>C m</p>
                <p class="talk-chord">Dó menor</p>
            </div>
            <section class="acorde">
                <div class="casas">
                    <!-- Linha por linha: 6 linhas, 3 colunas -->
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                </div>
                <!-- Posições dos dedos (ajuste a posição com estilo inline ou CSS) -->
                <span class="dedo" style="top: 9%; left: 66%;">1</span>
                <span class="dedo" style="top: 25%; left: 0%;">2</span>
                <span class="dedo" style="top: 25%; left: 100%;">3</span>
                <span class="dedo" style="top: 42%; left: 32%;">4</span>
            </section>
        </div>
    </div>
</div>