<!--  -->
<div class="card c-_cm_doMenor">
    <div class="flip-inner">
        <div class="face back">
            <div class="titulo-acorde">
                <p>C -</p>
                <p>C m</p>
                <p class="talk-chord">Dó menor</p>
            </div>
            <section class="acorde">
                <div class="casas">
                    <!-- Linha por linha: 6 linhas, 3 colunas -->
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                    <div class="casa"></div>
                </div>
<!-- Posições dos dedos (ajuste a posição com estilo inline ou CSS) -->
<!-- Padrões de Combinações: Linha x Coluna  -->
<!-- ======================================================================== -->
<!-- Linha 01: 9% --> <!--  -->
<!-- ======================================================================== -->
                <!--Linha 1 Corda 4-->
                <!-- <span class="dedo" style="top: 9%; left: 00%;"></span> -->
                <!--Linha 1 Corda 3-->
                <!-- <span class="dedo" style="top: 9%; left: 33%;"></span> -->
                <!--Linha 1 Corda 2-->
                <span class="dedo" style="top: 9%; left: 66%;">1</span>
                <!--Linha 1 Corda 1-->
                <!-- <span class="dedo" style="top: 9%; left: 99%;"></span> -->
<!-- ======================================================================== -->
<!-- Linha 02: 25% -->
<!-- ======================================================================== -->
                <!--Linha 2 Corda 4-->
                <span class="dedo" style="top: 25%; left: 00%;">2</span>
                <!--Linha 2 Corda 3-->
                <!-- <span class="dedo" style="top: 25%; left: 33%;"></span> -->
                <!--Linha 2 Corda 2-->
                <!-- <span class="dedo" style="top: 25%; left: 66%;"></span> -->
                <!--Linha 2 Corda 1-->
                <span class="dedo" style="top: 25%; left: 99%;">3</span>
<!-- ======================================================================== -->
<!-- Linha 03: 42% -->
<!-- ======================================================================== -->
                <!--Linha 3 Corda 4-->
                <!-- <span class="dedo" style="top: 42%; left: 00%;"></span> -->
                <!--Linha 3 Corda 3-->
                <span class="dedo" style="top: 42%; left: 33%;">4</span>
                <!--Linha 3 Corda 2-->
                <!-- <span class="dedo" style="top: 42%; left: 66%;"></span> -->
                <!--Linha 3 Corda 1-->
                <!-- <span class="dedo" style="top: 42%; left: 99%;"></span> -->
<!-- ======================================================================== -->
<!-- Linha 04: 59% -->
<!-- ======================================================================== -->
                <!--Linha 4 Corda 4-->
                <!-- <span class="dedo" style="top: 59%; left: 00%;"></span> -->
                <!--Linha 4 Corda 3-->
                <!-- <span class="dedo" style="top: 59%; left: 33%;"></span> -->
                <!--Linha 4 Corda 2-->
                <!-- <span class="dedo" style="top: 59%; left: 66%;"></span> -->
                <!--Linha 4 Corda 1-->
                <!-- <span class="dedo" style="top: 59%; left: 99%;"></span> -->
<!-- ======================================================================== -->
<!-- Linha 05: 75% -->
<!-- ======================================================================== -->
                <!--Linha 5 Corda 4-->
                <!-- <span class="dedo" style="top: 75%; left: 00%;"></span> -->
                <!--Linha 5 Corda 3-->
                <!-- <span class="dedo" style="top: 75%; left: 33%;"></span> -->
                <!--Linha 5 Corda 2-->
                <!-- <span class="dedo" style="top: 75%; left: 66%;"></span> -->
                <!--Linha 5 Corda 1-->
                <!-- <span class="dedo" style="top: 75%; left: 99%;"></span> -->
<!-- ======================================================================== -->
<!-- Linha 06: 92% -->
<!-- ======================================================================== -->
                <!--Linha 6 Corda 4-->
                <!-- <span class="dedo" style="top: 92%; left: 00%;"></span> -->
                <!--Linha 6 Corda 3-->
                <!-- <span class="dedo" style="top: 92%; left: 33%;"></span> -->
                <!--Linha 6 Corda 2-->
                <!-- <span class="dedo" style="top: 92%; left: 66%;"></span> -->
                <!--Linha 6 Corda 1-->
                <!-- <span class="dedo" style="top: 92%; left: 99%;"></span> -->
<!-- ====================================================================== -->
            </section>
        </div>
    </div>
</div>